
html {
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(0deg, rgba(18,20,69,1) 25%, rgba(243,85,255,1) 52%, rgba(76,209,255,1) 100%);
}
.sideNav a{
    position: absolute;
    left: -120px;
    transition: 0.4s;
    padding: 14px;
    width: 180px;
    font-size: 25px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-decoration: none;
}

.sideNav a:hover{
    left: 0;
    text-align: right;
}

#about {
    top: 345px;
    color: #f355ff;
    background-color: #121445;
}

#projects{
    top: 435px;
    color: #121445;
    background-color: #4cd1ff;
}

#contact {
    top: 525px;
    color: white;
    background-color: #f355ff;
}

img {
    width: 40px;
    height: 40px;
    float: right;
    padding-left: 15px;
}

.headshot {
position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -250px; 
   margin-left: -250px;    
   height: 500px;
   width: 500px;
   border-radius: 50%;
   display: inline-block;
}
.bottomNav{
    display: none;
}
.headline {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 45px;
    margin-bottom: -40px;
}
@media screen and (max-width: 600px){
   .sideNav{
       display: none;
   }
   .bottomNav{
   background-color: #333;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   }
   .bottomNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

}